.filterContainer
{
  margin: 20px 0;
}

.missionContainer
{
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #ffffff;
}

.missionContainer:last-child
{
  margin-bottom: 20px;
}
